@import '../../assets/variables.module.scss';

.way, .in, .countOfTransfer{
    display: flex;
    max-width: 141px;
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: $customLightGray;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    }
    
    .arrivingTime, .time, .transfers{
        display: flex;
        margin: 0;
        font-size: 14px;
    line-height: 21px;
    color: $customGray;
    max-width: 141px;
    }

    .row{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    margin-bottom: 10px;
}