@import '../../assets/variables.module.scss';

.item{
    padding: 10px 20px 10px 20px;
    &:hover, &:focus{
        background-color: $customLightBlue;
       outline-color: $customBlue;
    }
    }
    
.label{
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
